@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $default_text_color;
	line-height: $default_line_height;
	font-size: $default_font_size;
	font-family: $default-font;
	font-style: normal;
	overflow-x: auto;
	opacity: 1;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222;
	z-index: 100;
	display: none;

	.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -38px;
		margin-left: -38px;
		color: #ffffff;
	}
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.bold {
	font-weight: bold;
}

.accent	{
	color: $accent;
}

.ico {
	&-1 {
		display: inline-block;
		background-image: url('../img/icons.png');
		width: 30px;
		height: 30px;
	}	
	&-phone {
		background-position: -30px center;
	}
	&-phone2 {
		background-position: -60px center;
	}

	&-2 {
		display: inline-block;
		background-image: url('../img/about_icons.png');
		width: 53px;
		height: 53px;
		
		@for $i from 1 through 4 {
			&.i-#{$i} {
				background-position: -($i - 1) * 53px center;
			}
		}
	}

	&-3 {
		display: inline-block;
		background-image: url('../img/advantages.png');
		width: 62px;
		height: 58px;
		
		@for $i from 1 through 5 {
			&.i-#{$i} {
				background-position: -($i - 1) * 62px center;
			}
		}
	}

	&-4 {
		display: inline-block;
		background-color: $accent;
		background-image: url('../img/shags.png');
		width: 73px;
		height: 73px;
		
		@for $i from 1 through 5 {
			&.i-#{$i} {
				background-position: -($i - 1) * 73px center;
			}
		}
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 82px;
	padding: 6.5px 0;	
	font-size: 14px;
	z-index: 98;
	background-color: #fff;

	&-content {
		display: flex;
		align-items: center;
	}

	.logo-text {
		font-size: $default_font_size;
		font-weight: 600;
		margin-left: 40px;
		width: 180px;
	}

	&-zvonok {
		text-align: right;
		font-weight: 600;
		margin-left: 10px;

		a {
			text-decoration: underline;
		}
	}
	
	&-phones {
		font-size: 18px;
		white-space: nowrap;
		a {
			text-decoration: none;
		}
	}

	.hamburger {
		margin-left: 10px;
	}

}

.main-menu {
	flex-grow: 1;

	ul {
		display: flex;
		justify-content: center;
	}	

	li {
		margin-right: 20px;
		margin-bottom: 0;
	}

	a {		
		font-size: 13px;
		padding: 4px 0;

		&:hover, &.active {
			border-bottom: 1px solid $accent;
		}
	}
}

.page-wrapper {
	padding-top: 82px;
	overflow: hidden;
}

.section {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;		
	background-size: cover;
	text-align: center;
	padding: 50px 0 60px 0;
	z-index: 1;

	&-title {
		color: $title_color;
		font-weight: 800;
		margin-bottom: 40px;
		font-size: 30px;

		.inverse & {
			color: #fff;
		}
	}

	&.gray {
		background-color: #f0f3f8;
	}

	&-main {
		&-title {
			font-weight: 800;
			font-size: 44px;
			margin: 35px 0 30px;
		}

		&-subtitle {
			font-size: 30px;
			font-weight: 800;
			margin-bottom: 200px;
		}
	}

	&-dream {
		.shags {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 160px;
				left: 135px;
				right: 135px;
				height: 2px;
				background-color: $accent;
			}
		}
		.shag {
			font-weight: 800;
			margin-bottom: 35px;
			
			&-number {
				font-size: 60px;
				color: $accent;
			}

			&-text {
				font-size: 20px;
			}

			&-image {
				display: inline-block;
				position: relative;
				cursor: pointer;
				border-radius: 15px;
				overflow: hidden;

				img {
					display: block;
				}

				&:before {
					content: '';
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba(0, 0, 0, 0.37);
				}

				&:after {
					display: none;
					content: '\f00e';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: FontAwesome;
					font-size: 18px;
					color: $accent;
				}

				&:hover {
					&:before, &:after {
						display: block;
					}
				}
			}
		}
	}

	&-catalog {
		.carousel-catalog {
			height: 0;
			overflow: hidden;
			&.active {
				height: auto;
			}
		}

		&-radios {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.radio {
				margin: 0 15px 10px;
			}
		}

		&-buttons {
			margin-bottom: 20px;

			.button {
				margin: 0 7px 10px;
			}

			&.big {
				margin-top: 30px;
				margin-bottom: 0;

				.button {
					min-width: 227px;
				}
			}
		}

		.owl {
			&-stage-outer {
				padding: 50px 0;
			}

			&-item {
				transition: transform 0.25s ease-in;
				transform: scale(0.9);
				
				img {
					box-shadow: 0px 4px 14.88px 1.12px rgba(0, 0, 0, 0.37);
				}
				
				&.scale {						
					transform: scale(1.2);
					z-index: 1;
				}
			}
		}

		&-form {
			margin-top: 35px;
			&-title {
				font-size: 18px;
				color: #2e2e2e;
				// margin-bottom: 20px;
			}

			.select-mini {
				flex-grow: 0;
				flex-basis: 120px;
				.select {
					font-family: Helvetica !important;
				}
			}
		}

		.select-div {
			label {
				display: block;
				margin-bottom: 10px;
			}
		}

		&-row {
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			justify-content: center;

			& > * {
				flex-grow: 1;
				flex-basis: 150px;
				margin-right: 15px;
				flex-shrink: 0;
				margin-top: 25px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&-econom {
		&-text {
			font-weight: normal;
			font-size: 18px;
			margin-top: 20px;
			margin-bottom: 30px;
		}

		.optov {
			position: absolute;
			top: 0;
			left: 0;
			transform: rotateZ(-15deg);
			width: 150px;
			height: 30px;
			line-height: 30px;
			text-transform: uppercase;
			font-size: 16px;
			color: #b72f36;
			border: 2px solid #b72f36;
		}
	}

	&-advantage {
		z-index: 0;

		&-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.advantage {
			width: 250px;
			margin: 20px 30px;

			.ico-3 {
				margin-bottom: 20px;
			}

			&-title {
				color: $title_color;
				font-size: 16px;
				font-weight: 800;
				margin-bottom: 20px;
			}

			&-text {
				font-weight: 500;
			}
		}
	}	

	&-certificate {
		.owl {
			&-item {
				transition: transform 0.25s ease-in;
				transform: scale(0.8);
				
				&.scale {						
					transform: scale(1);
				}
			}
		}
	}

	&-reviews {
		.carousel-reviews {
			text-align: left;

			.owl-stage-outer {
				padding-top: 40px;
			}

			&-item {
				display: flex;
			}

			&-image {
				position: relative;
				max-width: 430px;
				flex-shrink: 0;
				margin-right: 80px;

				&-img {
					box-shadow: 0px 4px 14.88px 1.12px rgba(0, 0, 0, 0.37);
				}

				&-author {
					position: absolute;
					top: -33px;
					right: -60px;
					width: 139px !important;
					box-shadow: 0px 4px 14.88px 1.12px rgba(0, 0, 0, 0.37);
				}
			}

			&-content {
				font-family: PTSans;
			}

			&-author {
				margin-top: 15px;
				font-weight: bold;
				font-size: 16px;
			}
			// padding: 0 80px;

			// &-title {
			// 	color: #1f2020;
			// 	height: 42px;
			// 	display: flex;
			// 	align-items: center;
			// 	margin-bottom: 20px;
			// }

			// &-content {
			// 	font-size: 16px;
			// }
		}
	}

	&-map {
		margin-bottom: -5px;

		iframe {
			width: 100%;
		}

		&-content {
			position: relative;
		}

		.map-mobile {
			display: none;
		}

		.map-form {
			position: absolute;
			top: 20px;
			left: 100px;
			max-width: 430px;
			padding: 20px 45px;
			background-color:rgba($color: #fff, $alpha: 0.9);

			.section-title {
				margin-bottom: 0;
				text-align: center;
			}

			.input {
				width: 210px;
				margin-bottom: 10px;
			}

			.error-message {
				position: relative;
				top: -5px;
			}

			.textarea {
				display: block;
				width: 100%;
				margin-bottom: 10px;
				resize: none;
			}

			&-text {
				margin-top: 15px;
				font-weight: 500;
				font-size: 12px;
				color: rgb(38, 38, 38);
				letter-spacing: 1px;
			}
		}

	}
}

.footer {
	background-color: $accent;
	color: #000;
	font-weight: 600;
	padding: 10px 0;	

	.logo {
		display: flex;
		align-items: center;

		&-text {
			margin-left: 40px;
		}
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		& > div {
			margin: 10px 0;
		}
	}

	&-phone {
		font-size: 18px;
		display: flex;
		align-items: center;

		.ico-phone2 {
			margin-right: 8px;
		}
	}

	&-text {
		font-size: 16px;
		font-family: PTSans;
		font-weight: normal;
		text-align: center;
	}

	&-company {
		text-align: right;
		img {
			width: 124px;
		}
	}
}


@import "media"; // Всегда в конце
